@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Oxygen:wght@300&family=Ubuntu:ital@1&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(7, 12, 43);
  color: rgb(225, 220, 234);
  font-family: "Oxygen", sans-serif;
  margin: 0;
}

.main-title-primary {
  font-family: "Ubuntu", sans-serif;
  color: rgb(102, 16, 45);
  text-align: center;
  padding: 10vmin;
  margin: 0;
  background-image: url("resource/banner.png");
  background-position: 0% 0%;
  background-attachment: fixed;
  transition: background-position 5s ease-in-out 2s;

  &:hover {
    background-position: 100% 100%;
  }
}

.project-list {
  list-style: none;
  padding: 0;
}

.nav-bar {
  display: flex;
  align-items: stretch;
}

.nav-item {
  padding: 3vmin;

  &-margin {
    margin-left: auto;
  }

  &:hover {
    background-color: rgb(225, 220, 234);
    color: rgb(102, 16, 45);
  }
}

.pad-container {
  display: flex;
  justify-content: space-around;
}

.project-pad {
  padding: 3vmin;
  margin: 2%;
}
